@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glacial+Indifference&display=swap');
@import "tailwindcss";

@theme {
  /* Mapping Colors */
  --color-main: var(--bg-main);
  --color-panel: var(--bg-panel);
  --color-input-ui: var(--bg-input);
  --color-toggle: var(--bg-toggle);
  --color-toggle-inner: var(--bg-toggle-inner);
  --color-toggle-thumb: var(--toggle-thumb);
  --color-separator: var(--separator);
  --color-gold: var(--accent-gold);
  
  /* Mapping Text Colors */
  --color-primary: var(--text-primary);
  --color-muted: var(--text-muted);

  /* Fonts */
  --font-sans: "League Spartan", sans-serif;
  --font-serif: "Glacial Indifference", sans-serif;

  /* Effects */
  --shadow-panel: var(--shadow-panel);
  --border-panel: var(--border-panel);
  --border-ui: var(--border-ui);
  --toggle-border: var(--toggle-border);
}

@layer base {
  :root {
    --bg-main: #f0d7b7;
    --bg-input: #d1c1b2;
    --bg-toggle: #e5d5c5;
    --bg-toggle-inner: #d4bfa7;

    --bg-panel: #eccea7; 

    --text-primary: #4a3728;
    --text-muted: #030303;

    --border-ui: #dccab8;
    --accent-gold: #a67c52;
    --toggle-thumb: #ffffff;
    --toggle-border: #c4c0be;
    --separator: #a67c52;

    --shadow-panel: 0 4px 12px rgba(0, 0, 0, 0.3);
    --border-panel: #c4c0be;
  }

  .dark {
    --bg-main: #121212;
    --bg-input: #3d3d3d;
    --bg-toggle: #2a2624;
    --bg-toggle-inner: #000000;

    --bg-panel: #313131;

    --text-primary: #e0e0e0;
    --text-muted: #888888;

    --border-ui: #707070;
    --accent-gold: #d4af37;
    --toggle-thumb: #888888;
    --toggle-border: #b39842;
    --separator: #d4af37;

    --shadow-panel: 0 4px 12px rgba(0, 0, 0, 0.5);
    --border-panel: #646464;
  }
}

body {
   @apply bg-main text-primary transition-all duration-500 ease-in-out font-serif;
}