@import "tailwindcss";

@theme {
  /* Mapping Colors */
  --color-main: var(--bg-main);
  --color-input-ui: var(--bg-input);
  --color-toggle: var(--bg-toggle);
  --color-toggle-inner: var(--bg-toggle-inner);
  --color-toggle-thumb: var(--toggle-thumb);
  --color-separator: var(--separator);
  --color-gold: var(--accent-gold);
  
  /* Mapping Text Colors specifically */
  --color-primary: var(--text-primary);
  --color-muted: var(--text-muted);

  /* Mapping Fonts */
  --font-primary: "League Spartan", sans-serif;
  --font-secondary: "Glacial Indifference", sans-serif;
}

@layer base {
  :root {
    --bg-main: #f4e8d9;
    --bg-input: #bda389;
    --bg-toggle: #e5d5c5;
    --bg-toggle-inner: #d4bfa7;
    --text-primary: #4a3728;
    --text-muted: #8c7662;
    --border-ui: #dccab8;
    --accent-gold: #a67c52;
    --toggle-thumb: #ffffff;
    --separator: #a67c52;
  }

  .dark {
    --bg-main: #121212;
    --bg-input: #1a1a1a;
    --bg-toggle: #2a2624;
    --bg-toggle-inner: #000000;
    --text-primary: #e0e0e0;
    --text-muted: #888888;
    --border-ui: #333333;
    --accent-gold: #d4af37;
    --toggle-thumb: #888888;
    --separator: #d4af37;
  }

  body {
    /* Use the theme keys we just defined */
    @apply bg-main text-primary transition-all duration-500 ease-in-out font-secondary;
    background-image: url('https://www.transparenttextures.com/patterns/black-linen.png');
  }
}