@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glacial+Indifference&display=swap');
@import "tailwindcss";

@theme {
  /* Mapping Colors */
  --color-main: var(--bg-main);
  --color-panel: var(--bg-panel);
  --color-input-ui: var(--bg-input);
  --color-toggle: var(--bg-toggle);
  --color-toggle-inner: var(--bg-toggle-inner);
  --color-toggle-thumb: var(--toggle-thumb);
  --color-separator: var(--separator);
  --color-gold: var(--accent-gold);
  --color-loading: var(--bg-loading);
  --color-chip: var(--bg-chip);
  
  /* Mapping Text Colors */
  --color-primary: var(--text-primary);
  --color-muted: var(--text-muted);
  --color-inverse: var(--text-inverse);
  --color-gray: var(--border-ui);

  /* Fonts */
  --font-sans: "League Spartan", sans-serif;
  --font-serif: "Glacial Indifference", sans-serif;

  /* Effects */
  --shadow-panel: var(--shadow-panel);
  --border-panel: var(--border-panel);
  --border-ui: var(--border-ui);
  --toggle-border: var(--toggle-border);
}

@layer base {
  :root {
    --bg-main: #f0d7b7;
    --bg-input: #ffffff;
    --bg-toggle: #e5d5c5;
    --bg-toggle-inner: #d4bfa7;
    --bg-panel: #ffffff; 
    --bg-table-row-odd: #fff;
    --bg-table-row-even: #ecebeb;
    --bg-loading: #c5c5c5;
    --bg-chip: #a67c5233;

    --text-primary: #4a3728;
    --text-muted: #8c7662;
    --text-inverse: #fff;

    --border-ui: #a0a0a0;
    --accent-gold: #c2864a;
    --toggle-thumb: #ffffff;
    --toggle-border: #c4c0be;
    --separator: #a67c52;

    --shadow-panel: 0 4px 12px rgba(0, 0, 0, 0.3);
    --border-panel: #c4c0be;
  }

  .dark {
    --bg-main: #121212;
    --bg-input: #313131;
    --bg-toggle: #2a2624;
    --bg-toggle-inner: #000000;
    --bg-panel: #313131;
    --bg-table-row-odd: #313131;
    --bg-table-row-even: #292929;
    --bg-loading: #53535366;

    --text-primary: #e0e0e0;
    --text-muted: #888888;
    --text-inverse: #313131;

    --border-ui: #707070;
    --accent-gold: #d4af37;
    --toggle-thumb: #888888;
    --toggle-border: #b39842;
    --separator: #d4af37;

    --shadow-panel: 0 4px 12px rgba(0, 0, 0, 0.5);
    --border-panel: #646464;
  }
}

@layer base {
  /* WebKit Browsers */
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-track {
    background: var(--bg-main);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--accent-gold);
    border-radius: 5px;
    border: 2px solid var(--bg-main);
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gold);
  }

  /* Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-gold) var(--bg-main);
  }

  .dark body::-webkit-scrollbar-track {
    background: var(--bg-main);
  }

  .dark body::-webkit-scrollbar-thumb {
    background-color: var(--accent-gold);
    border: 2px solid var(--bg-main);
  }

  .dark body {
    scrollbar-color: var(--accent-gold) var(--bg-main);
  }

    table tbody tr:nth-child(even) {
    background-color: var(--bg-table-row-even);
  }

  table tbody tr:nth-child(odd) {
    background-color: var(--bg-table-row-odd)
  }

  table tbody tr {
    transition: background-color 0.2s ease;
  }

  table tbody tr:hover {
    opacity: 70%;
  } 

  /* Checked state */
  input[type="checkbox"]:checked {
    background-color: var(--color-gold);
    border-color: var(--color-gold);
  }

  /* Checkmark inside */
  input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid var(--bg-input); /* white-ish checkmark */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid var(--border-ui);
    border-radius: 4px; /* optional */
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    appearance: none; /* remove default OS style */
    -webkit-appearance: none; /* Safari */
    position: relative;
    background-color: var(--bg-input);
  }
}

.ProseMirror {
  outline: none;
}

.ProseMirror h1 {
  @apply text-3xl font-bold my-2;
}

.ProseMirror h2 {
  @apply text-2xl font-semibold my-2;
}

.ProseMirror h3 {
  @apply text-xl font-semibold my-2;
}

.ProseMirror p {
  @apply text-base my-1;
}

/* Bullet List */
.ProseMirror ul {
  @apply list-disc list-outside ml-5 my-1; /* changed to list-outside */
}

/* Numbered List */
.ProseMirror ol {
  @apply list-decimal list-outside ml-5 my-1; /* changed to list-outside */
}

/* List items spacing */
.ProseMirror li {
  @apply my-1;
}

body {
   @apply bg-main text-primary transition-all duration-500 ease-in-out font-serif;
}